.mb-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}
.col {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.button1 {
margin: 2rem;
padding-left: -5rem;
padding-right: -5rem;
}

.button2 {
    margin: 2rem;
    padding: auto;
    }

.form-text {
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-check .form-check-input {
    float: inherit;
    margin-left: -0.5em;
}

.label {
    display: auto;
    margin-right: 1rem;
    margin-left: 1rem;
}

.form-text {
    padding-left: 1rem;
    padding-right: 1rem;
    color: aliceblue;
}

body {
    background-color: #1a81dc;
    color: aliceblue;
}