.navbar-expand-lg .navbar-collapse {
    display: flexbox;
    flex-basis: auto;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 10px;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3.5rem;
    padding-left: 0.5rem;
    color: blue;
}